input[type='radio'] {
  -webkit-appearance:none;
  cursor: pointer;
  width:16px;
  height:16px;
  border:2px solid #928a8a;
  border-radius:100px;
  outline:none;
}

input[type='radio']:before {
  content:'';
  display:block;
  width: 8px;
  margin: 2px auto;    
  height: 8px;
  border-radius:100px;    
}

input[type='radio']:checked:before {
  background-color: #3D405B;
}