
.carCardSwiper {
  padding: 10px 0px;
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}
